/*--page-5-------------------------------------------------------------------*/
.set_pre{
	width:40rem;
	height:50rem;
	margin-left:20rem;
	margin-top:3rem;
	background-color:white;
}
.push_tell{
	width:45rem;
	height:30rem;
	margin-left:62rem;
	margin-top:-40rem;
	background-color:white;
	
}
.set_pre .sore{
	margin-left:2rem;
	margin-top:1rem;
}
.center_{
	font-size:1.6rem;
	text-align:center;
}
.grouphand_add,.grouphand_remove_1{
	width:3.1rem;
	height:2rem;
	border-radius:0.2rem;
	cursor:pointer;
	float:left;
	margin-left:.5rem;
	margin-bottom:.5rem;
	line-height:2rem;
	color:grey;
	border:.2rem solid white;
	text-align:center;
	transition:.15s;
	opacity:.8;
}
.grouphand_remove_1{
	position:relative;
	left:4.5rem;
	background-color:#f9db95;
}
.grouphand_remove_1:hover{
	border:.2rem solid #f9db95;
	opacity:1;
}
.grouphand_add:hover{
	border:.2rem solid #f7abb3;
	opacity:1;
}
.grouphand_add{
	background-color:#f7abb3;
	position:absolute;
	top:7rem;
	left:22rem;
}
.grouphand_add p{
	font-size:1rem;
}

/*--page-6-------------------------------------------------------------------*/