/*--page-5-------------------------------------------------------------------*/
.set_pre,.set_pre_{
	width:40rem;
	height:50rem;
	
	left:20.5rem;
	top:6rem;
	position:absolute;
}
.set_pre_,.push_tell_{
	background-color: rgba(255,255,255,0.4);
}
.page5_back_left{
	height:74rem;
	position:absolute;
	left:-10;
}
.push_tell,.push_tell_{
	width:45rem;
	height:30rem;
	position:absolute;
	left:65rem;
	top:20rem;
}

.set_pre .sore{
	margin-left:2rem;
	margin-top:1rem;
}
.center_,.push_tell p{
	font-size:1.6rem;
	text-align:center;
	font-weight:900;
}
.grouphand_add{
	width:3.1rem;
	height:2rem;
	border-radius:0.2rem;
	cursor:pointer;
	float:left;
	margin-left:-20rem;
	margin-top:-6rem;
	line-height:2rem;
	color:grey;
	border:.2rem solid transparent;
	box-shadow:3px 3px 5px #444;
	text-align:center;
	transition:.15s;
	opacity:.8;
	background-color:#f7abb3;
	position:absolute;
	top:7rem;
	left:23rem;
}
.set_pre input{
	border:none;
	background-color:transparent;
	font-weight:900;
	text-align:center;
}
.grouphand_add:hover{
	border:.2rem solid #f7abb3;
	opacity:1;
}
.grouphand_add p{
	font-size:1rem;
}
.grouphand_tell_{
	color:pink;
	position:absolute;
	left:-.8rem;
	top:4rem;
}
.grouphand_tell{
	width:11rem;
	height:5.5rem;
	background-color:pink;
	opacity:.85;
	color:grey;
	position:absolute;
	border-radius:.5rem;
	padding:.7rem;
	display:none;
	left:8rem;
	top:-1.5em;
}
.push_tell form{
	margin-left:3rem;
	margin-top:3rem;
}
.page_5back{
	position:absolute;
	height:74rem;
	top:0rem;
	z-index:-2;
	left:-5.9rem;
}
.push_tell textarea{
	background-color:transparent;
}
.telltitle{
	position:absolute;
	left:50%;
	transform:translate(-50%);
	background-color:transparent;
	top:4rem;
	height:2rem;
}
.tellgong{
	margin-top:3rem;
	margin-left:3rem;
}
.tellbutton{
	position:relative;
	width:4rem;
	height:2rem;
	background-color:transparent;
}