html{
    font-size:80px;
    background-color:rgb(230,230,230);
    height:100%;
    overflow:hidden;
}
body{
    height:100%;
}
.wrap{
    position:relative;
    width:100%;
    height:100%;
    background-image:url(../pic/helptop.png);
    background-size:100%;
    transition:all 1.2s;
}
.wrap .help {
    color: #fff;
    padding-top:1.5rem;
    padding-left:1.4rem;
    font-size:1.2rem;
    transition:all 1.2s;
}
.wrap>.pic{
    margin-top:2.2rem;
    margin-left:1.8rem;
    background-image: url(../pic/helptop1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10rem;
    height: 9rem;
    transition:all 1.2s;
}
.card{
    box-sizing:border-box;
    width:100%;
    position:absolute;
    bottom:2.2rem;
    padding:0 3%;
    z-index:2;
    transition:all 1.2s;
}
.card>div{
    position:relative;
    border-radius: 0.3rem;
    text-align:center;
    transition:all 0.8s;
    background-color:#fff;
    box-sizing:border-box;
    width:30%;
    height:3.7rem;
    box-shadow:#bbb 0.1rem 0.1rem 0.3rem 0.01rem;
    display:inline-block;
    margin: 0 1.3%;
}
.card .pic{
    width: 100%;
    height: 68%;
    background-size: 44%;
    background-position-x: center;
    background-position-y: 45%;
    background-repeat: no-repeat;
    transition:all 0.8s;
}
.card .text{
    position: absolute;
    top: 2.4rem;
    left: 50%;
    margin-left: -34%;
    font-size: 0.6rem;
    transition: all 0.4s;
}
.card .text1{
    opacity:0;
    position: absolute;
    top: 2.4rem;
    left: 50%;
    margin-left: -34%;
    font-size:0.6rem;
    transform:rotateY(180deg);
    transition:all 0.4s;
}


.card .card1 .pic{
    background-image: url(../pic/question1.png);
}
.card .card2 .pic{
    background-image: url(../pic/question2.png);
}
.card .card3 .pic{
    background-image: url(../pic/question3.png);
}

.card .card1 .pic2{
    background-image: url(../pic/ans1.png);
}
.card .card2 .pic2{
    background-image: url(../pic/ans2.png);
}
.card .card3 .pic2{
    background-image: url(../pic/ans3.png);
}

.list{
    border-radius:0.4rem;
    padding:1rem;
    overflow:hidden;
    box-sizing:border-box;
    display:none;
    width: 92%;
    height: 8rem;
    margin: 3rem auto;
    background-color: #56a8e9;
    box-shadow:#aaa 0.1rem 0.1rem 0.3rem 0.01rem;
    transition:all 0.8s;
}
.list >div{
    color:#fff;
    overflow:hidden;
    transition:all 1s;
}
.list .name{
    font-size:0.85rem;
    text-align:center;
}
.list .main{
    font-size: 0.75rem;
    margin: 0.7rem 0;
    line-height:0.9rem;
}
.list a{
    text-decoration:none;
    color:#f7cc6e;
}

.updown{
    animation:updown 1.5s cubic-bezier(0.76, 0.01, 0.22, 0.96);;
}

@keyframes updown{
    0%{
        margin-top:3rem;
    }
    50%{
        margin-top:15rem;
    }
    100%{
        margin-top:3rem;
    }
}

.turn{
    transform:rotateY(180deg);
}
.none{
    opacity:0;
}
.show{
    opacity:1 !important;
}