*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
html{
    width: 100%;
    height:100%;
    /* background-color:#232a34; */
    background-color:#fff;
    position:relative;
    font-size:62.5%;
}
.headbox{
    position: absolute;
    width:100%;
    height:100%;
    background-image: url(../img/user.png);
    background-size: 100%;;
    background-repeat: no-repeat;
    z-index: -1;
}
.headline{
    position: absolute;
    top: 0.7rem;
    width:100%;
    height:5rem;
}
.btn{
    position: absolute;
    top: 50%;
    left:5%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top:-1.25rem;
    background-image: url(../img/pass_back.png);
    background-size: 2.5rem;
    background-repeat: no-repeat;
}
.head_text{
    position: absolute;
    left:50%;
    margin-left:-5rem;
    height: 5rem;
    text-align: center;
    line-height:5rem;
    font-size:2rem;
    color: #fff;
}
.bodybox{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 79%;
    border-radius: 2rem 2rem 0 0;
    background-color: #fff;
}
.body{
    position: absolute;
    left: 50%;
    bottom: 0%;
    width: 84%;
    height: 99%;
    margin-top: -25%;
    margin-left: -42%;
}
.body_btn{
    position: relative;
    width:100%;
    height:8rem;
    border-radius: 2rem 2rem 0 0;
    border: 1px solid rgba(237, 237, 237, 0.774);
    border-width:0 0 1px 0;
    margin-bottom: 1rem;
}
.person{
    position: absolute;
    top:32%;
    left:0;
    width: 5rem;
    height: 6.5rem;
    margin-top:-2.5rem;
}
.meet{
    position: absolute;
    top:32%;
    left:27%;
    width: 5rem;
    height: 6.5rem;
    margin-top:-2.5rem;
}
.notice{
    position: absolute;
    top:32%;
    right:27%;
    width: 5rem;
    height: 6.5rem;
    margin-top:-2.5rem;
}
.change{
    position: absolute;
    top:32%;
    right:0;
    width: 5rem;
    height: 6.5rem;
    margin-top:-2.5rem;
}
.pic_box{
    position: absolute;
    width: 5rem;
    height: 5rem;
}
.pic_border{
    position:absolute;
    top:50%;
    left:50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-left:-1.75rem;
    margin-top:-1.75rem;
    border:2px solid #3285f9;
    border-radius: 50%;
}
.pic_border::after{
    content: "";
    display: inline-block;
    position:absolute;
    top:50%;
    left:50%;
    width: 2.7rem;
    height: 2.7rem;
    margin-left:-1.35rem;
    margin-top:-1.35rem;
    /* background-color: #3285f9; */
    border-radius: 50%;
}
.person_pic,.meet_pic,.notice_pic,.change_pic{
    position:absolute;
    top:50%;
    left:50%;
    width: 2rem;
    height: 2rem;
    margin-left:-1rem;
    margin-top:-1rem;
    background-image: url(../img/person.png);
    background-size: 2rem;
    background-repeat: no-repeat;
}
.meet_pic{
    background-image: url(../img/meet.png);
}
.notice_pic{
    background-image: url(../img/notice.png);
}
.change_pic{
    background-image: url(../img/change.png);
}

.text_box{
    position: absolute;
    bottom:0;
    width: 5rem;
    height: 2rem;
    font-size:1.3rem;
    text-align:center;
    line-height:2rem;
    color:#3285f9;
}
/* 图标部分结束 */
.dotbox {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 13px;
    margin-left: -30px;
    display: inline-block;
}
.dotbox span {
    width: 6px;
    height: 6px;
    margin: 3px;
    border-radius: 50%;
    /* border: 1px solid #1b4d82; */
    background-color: #3285f9;
    display: inline-block;
}
.body_bottom{
    position: relative;
    width:100%;
    height:70%;
    margin-bottom:3rem;
    border: 1px solid #3285f9;
    border-radius: 4px;
}
.content-headline{
    position: relative;
    width: 16rem;
    height: 3.5rem;
    top: 0%;
    left: 50%;
    margin-left: -8rem;
}
.left{
    position:absolute;
    top:50%;
    left:0%;
    width: 5rem;
    height: 2.5rem;
    margin-top:-2.5rem;
    background-image: url(../img/line_left.png);
    background-size: 5rem;
    background-repeat: no-repeat;
}
.right{
    position:absolute;
    top:50%;
    right:0%;
    width: 5rem;
    height: 2.5rem;
    margin-top:-2.5rem;
    background-image: url(../img/line_right.png);
    background-size: 5rem;
    background-repeat: no-repeat;
}
.mid{
    position:absolute;
    top:50%;
    left:50%;
    width: 5rem;
    height: 2.5rem;
    margin-left:-2.5rem;
    margin-top:-1.25rem;
    line-height:2.5rem;
    font-size:1.5rem;
    color:#3285f9;
}
.content{
    position: relative;
    width: 100%;
    height: 88%;
}
.meet_result{
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: #3285f9;
}
.explain{
    position: relative;
    left:50%;
    width: 90%;
    height: 64%;
    margin-left:-45%;
    /* background-color: #f9327e; */
}
.ex_headline{
    position:absolute;
    top:0%;
    left:10%;
    height: 2.5rem;
    line-height:2.5rem;
    font-size:1.6rem;
    color:#000;
}
.ex_text{
    position: absolute;
    top: 2rem;
    left: 50%;
    width: 80%;
    height: 81%;
    margin-left: -40%;
    line-height: 2.5rem;
    font-size: 1.6rem;
    color: #000;
    /* background-color: #ecf932; */
}
.state,.path{
    font-size:1.4rem;
    color: #3285f9;
}
.state_text,.path_text{
    font-size:1.2rem;
    color: #000;
    line-height: 2.3rem;
}