*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
html{
    width: 100%;
    height:100%;
    background-color:#232a34;
    position:relative;
    font-size:62.5%;
}
input{
    background:none;
    outline:none;
    border:0px;
    font-size:2rem;
    font-weight:90;
    text-align:center;
    line-height:4rem;
    color: #9599a2;
    /* background-color: #fff; */
}
.logup_btn1{
    position:absolute;
    width:22rem;
    height:4rem;
    background-color:#303741;
    left:50%;
    margin-left:-11.5rem;
    top:51%;
    font-size:2rem;
    font-weight:90;
    text-align:center;
    line-height:4rem;
    color: #9599a2;
}
.logup_btn2{
    position:absolute;
    width:22rem;
    height:4rem;
    background-color:#303741;
    left:50%;
    margin-left:-11.5rem;
    top:61%;
    font-size:2rem;
    font-weight:90;
    text-align:center;
    line-height:4rem;
    color: #9599a2;
}

/* 公用 */
.headline{
    position:absolute;
    width:33rem;
    font-size:3rem;
    font-weight:90;
    text-align:center;
    color:#fff;
    left:50%;
    margin-left:-16.5rem;
    top:15.5rem;
}
.text{
    position:absolute;
    width:33rem;
    font-size:2rem;
    font-weight:90;
    text-align:center;
    color: #b8b9bc;
    left:50%;
    margin-left:-16.5rem;
    top:20rem;
}
.back_btn,.back_logup_btn{
    position:absolute;
    width:2.5rem;
    height:2.5rem;
    background-image: url(./img/back.png);
    background-size:2.5rem;
    background-repeat: no-repeat;
    top:2%;
    left:2%;
}
.pagepic,.logup_pagepic{
    position:absolute;
    width:8rem;
    height:8rem;
    background-image: url(./img/page1.png);
    background-size:8rem;
    background-repeat: no-repeat;
    top:10%;
    left:50%;
    margin-left:-4rem;
}
.register,.logup_register{
    position:absolute;
    width:22rem;
    height:5rem;
    border:solid 1px #fff;
    border-radius: 3rem;
    left:50%;
    margin-left:-11.5rem;
    bottom:10%;
    font-size:2rem;
    font-weight:90;
    text-align:center;
    line-height:5rem;
    color: #f9f9fa;
}
.btn_text1,.btn_text2,.btn_text3,.logup_text1,.logup_text2{
    position:absolute;
    height:4rem;
    background-color:#303741;
    left:4%;
    top:0%;
    font-size:1.8rem;
    font-weight:90;
    text-align:center;
    line-height:4rem;
    color: #9599a2;
    /* background-color: aquamarine; */
}
#see,#logup_see{
    position:absolute;
    width:2rem;
    height:2rem;
    background-image: url(./img/see.png);
    background-size:2rem;
    background-repeat: no-repeat;
    top:23%;
    right:5%;
    /* background-color: blue; */
}
.btn_see {
    position:absolute;
    width:2rem;
    height:2rem;
    background-image: url(./img/see.png) !important;
    background-size:2rem;
    background-repeat: no-repeat;
    top:23%;
    right:5%;
}
.btn_notsee{
    position:absolute;
    width:2rem;
    height:2rem;
    background-image: url(./img/not_see.png) !important;
    background-size:2rem;
    background-repeat: no-repeat;
    top:23%;
    right:5%;
}

/* 注册 */
.login_btn1{
    position:absolute;
    width:22rem;
    height:4rem;
    background-color:#303741;
    left:50%;
    margin-left:-11.5rem;
    top:50%;
    font-size:2rem;
    font-weight:90;
    text-align:center;
    line-height:4rem;
}
.login_btn2{
    position:absolute;
    width:22rem;
    height:4rem;
    background-color:#303741;
    left:50%;
    margin-left:-11.5rem;
    top:59%;
    font-size:2rem;
    font-weight:90;
    text-align:center;
    line-height:4rem;
}
.login_btn3{
    position:absolute;
    width:22rem;
    height:4rem;
    background-color:#303741;
    left:50%;
    margin-left:-11.5rem;
    top:68%;
    font-size:2rem;
    font-weight:90;
    text-align:center;
    line-height:4rem;
}
.btn_picnum{
    position:absolute;
    width: 6.5rem;
    height: 2.8rem;
    background-color:#303741;
    border:1px solid #9599a2;
    border-radius: 1rem;
    right:0%;
    top:50%;
    margin-top:-1.4rem;
    font-size:1.3rem;
    font-weight:90;
    text-align:center;
    line-height:2.8rem;
    color: #9599a2;
    /* opacity: 0; */
    transition:opacity 5s;
}
.newbtn_picnum{
    position:absolute;
    width: 6.5rem;
    height: 2.8rem;
    background-color:#303741;
    border:1px solid #9599a2;
    border-radius: 1rem;
    right:0%;
    top:50%;
    margin-top:-1.4rem;
    font-size:1.3rem;
    font-weight:90;
    text-align:center;
    line-height:2.8rem;
    color: #9599a2;
    opacity: 1;
    transition:opacity 10s;
}
.reminder_pic {
    position: absolute;
    width: 26rem;
    height: 17rem;
    background-color: #A9A9A9;
    left: 50%;
    margin-left: -13rem;
    margin-top: -8.5rem;
    top: 50%;
    font-size: 2rem;
    font-weight: 90;
    border-radius: 1rem;
    z-index: 2;
}
.cloth{
    width: 100%;
    height:100%;
    background-color:#303741;
    position:relative;
    font-size:62.5%;
    opacity: 0.5;
    z-index: 1;
}
picnum_text1{
    position: absolute;
    height: 4rem;
    background-color: #fff;
    left: 50%;
    margin-left: -13rem;
    margin-top: -8.5rem;
    top: 10%;
    font-size: 2rem;
    font-weight: 90;
    z-index: 2;
}
/* .picnum_pic{

} */
